.post-nav {
  font-family: RobotoRegular;
  font-weight: normal;
  font-style: bold;
}
 .title {
   font-family: RobotoBold;
   font-weight: normal;
   font-style: bold;
 }
 .section__title {
    font-family: PtSansCapbold;
    font-weight: normal;
    font-style: normal;
 }
